<footer class="footer">
  <div class="footer__bg">
      <div class="footer__container container grid">
        <div>
          <h1 class="footer__title">{{ site.author.name }}</h1>
          <!-- <span class="footer__subtitle">{{ site.author.title }}</span> -->
          <div class="footer__subtitle"><a href="https://github.com/syedhamzazaidi/syedhamzazaidi.github.io">
          Fork it on Github <i class="uil uil-github-alt"></i></a>
          </div>
        </div>
        <div></div>
        <div class="footer__socials">
          {%- include social.html -%}
        </div>
        
      </div>

      <p class="footer__copy">&#169; {{ site.author.name }}. All rights reserved.</p>
  </div>

</footer>
