<header class="header" id="header">
  <nav class="nav container">
      <a href="{{ site.baseurl }}/#" class="nav__logo">{{ site.author.name }}</a>
      <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
              {% comment %}
              {% for topic in site.data.content %}
              {% capture topic-name %}{{ topic[0] | split: "-" | first | strip }}{% endcapture %}
              <li class="nav__item">
                  <a href="{{ site.baseurl }}/#{{ topic-name }}" class="nav__link {% if forloop.first %}active-link{% endif %}">
                      <i class="uil uil-estate nav__icon"></i> {{ topic-name | capitalize }}
                  </a>
              </li>
              {% endfor %}
              {% endcomment %}
              <li class="nav__item">
                  <a href="{{ site.baseurl }}/#" class="nav__link">
                      <i class="uil uil-estate nav__icon"></i>Home
                  </a>
              </li>
              <li class="nav__item">
                  <a href="{{ site.baseurl}}/blog" class="nav__link">
                      <i class="uil uil-book nav__icon"></i>Blog
                  </a>
              </li>
         </ul>
          <i class="uil uil-times nav__close" id="nav-close"></i>
      </div>

      <div class="nav__btns">
          <!--Theme change button-->
          <i class="uil uil-moon change-theme" id="theme-button"></i>

          <div class="nav__toggle" id="nav-toggle">
              <i class="uil uil-apps"></i>
          </div>
      </div>
  </nav>
</header>