<!--==================== QUALIFICATION ====================-->
<section class="qualification section">
    <h2 class="section__title">{{ page.qualifications.title }}</h2>
    <div class="section__subtitle">{{ page.qualifications.subtext }}</div>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            {% for tab in page.qualifications.tabs %}
            <div class="qualification__button button--flex {% if forloop.first == true %}qualification__active{% endif %}" data-target="#{{ tab.title }}">
                <i class="uil uil-briefcase-alt qualification__icon {{ tab.icon | default: uil-briefcase-alt }}"></i>
                {{ tab.title }}
            </div>
            {% endfor %}

        </div>

        <div class="qualification__sections">
            <!--===============================QUALIFICATION CONTENT 1 ===========================-->
            <div class="qualification__content qualification__active" data-content id="education">
                <!--===============================QUALIFICATION 1 ===========================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">BSc. in Computer Science</h3>
                        <span class="qualification__subtitle">Chittagong University of Engineering & Technology</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            March, 2015 - September, 2019
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--===============================QUALIFICATION 2 ===========================-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Higher Secondary School Certificate</h3>
                        <span class="qualification__subtitle">Bir Shreshtha Noor Mohammad Public College</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            July, 2012 - September, 2014
                        </div>
                    </div>


                </div>

                <!--===============================QUALIFICATION 3 ===========================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Secondary School Certificate</h3>
                        <span class="qualification__subtitle">Bir Shreshtha Munshi Abdur Rouf Public College</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            January, 2010 - May, 2012
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                    </div>
                </div>
            </div>

            <!--===============================QUALIFICATION CONTENT 2 ===========================-->
            <div class="qualification__content" data-content id="work">
                <!--===============================QUALIFICATION 1 ===========================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Web Development</h3>
                        <span class="qualification__subtitle">
                            <a href="https://ssd-tech.io/" target="_blank">SSD-Tech Limited</a>
                        </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            September, 2019 - July, 2021
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--===============================QUALIFICATION 2 ===========================-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">

                            <a class="qualification__tech" href="https://bohubrihi.com/course-pages/php-web-development/" target="_blank">PHP</a>
                            &
                            <a class="qualification__tech" href="https://bohubrihi.com/course-pages/laravel/" target="_blank">Laravel</a>
                            Instructor
                        </h3>
                        <span class="qualification__subtitle">
                            <a href="https://bohubrihi.com/" target="_blank">Bohubrihi Online Courses</a>
                        </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            October, 2020 - running
                        </div>
                    </div>
                </div>

                <!--===============================QUALIFICATION 3 ===========================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Software Development</h3>
                        <span class="qualification__subtitle">
                            <a href="https://www.reddotdigital.net/" target="_blank">Red.Digital IT</a>
                            <small>(A subsidiary of Robi Axiata Limited)</small></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            August, 2021 - Running
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>