<section class="about section" id="about">
    <h2 class="section__title">{{ page.about.title }}</h2>
    <span class="section__subtitle">{{ page.about.subtext }}</span>

    <div class="about__container container grid">
        <img src="assets/img/about.jpg" alt="" class="about__img">

        <div class="about__data">
            <p class="about__description">
                {{ page.about.content}}
            </p>

            <div class="about__info">
                {% for stat in page.about.stats %}
                <div >
                    <span class="about__info-title">{{ stat.number }}</span>
                    <span class="about__info-name">{{ stat.line1 }} <br> {{ stat.line2 }} </span>
                </div>
                {% endfor %}
            </div>
            <div class="about__buttons">
                <a download="" href="assets/pdf/Alexa-Cv.pdf" class="button button--flex">
                    {{ page.about.button }} <i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>

</section>