<section class="about section" id="about">
    <h2 class="section__title">{{ site.data.content.about.title }}</h2>
    <span class="section__subtitle">{{ site.data.content.about.subtitle }}</span>

    <div class="about__container container grid">
        <img src="{{ site.baseurl }}/assets/img/about.jpg" alt="" class="about__img">

        <div class="about__data">
            <p class="about__description">
                {{ site.data.content.about.content}}
            </p>

            <div class="about__info">
                {% for stat in site.data.content.about.stats %}
                <div >
                    <span class="about__info-title">{{ stat.number }}</span>
                    <span class="about__info-name">{{ stat.line1 }} <br> {{ stat.line2 }} </span>
                </div>
                {% endfor %}
            </div>
            <div class="about__buttons">
                <a href="{{ site.baseurl }}/assets/pdf/resume.pdf" target="_blank" class="button button--flex">
                    {{ site.data.content.about.button }} <i class="uil uil-message button__icon"></i>
                </a>
            </div>
        </div>
    </div>

</section>