<section class="itineraries section" id="travel">
    <h2 class="section__title">{{ site.data.content.itineraries.title }}</h2>
    <span class="section__subtitle">{{ site.data.content.itineraries.subtitle }}</span>

    <div class="itineraries__container container grid">
        {% for trip in site.data.content.itineraries.trips %}
        <a href="{{ trip.link }}" class="itinerary__card" target="_blank">
            <div class="itinerary__emoji">{{ trip.emoji }}</div>
            <h3 class="itinerary__title">{{ trip.title }}</h3>
            <span class="itinerary__dates">{{ trip.dates }}</span>
            <p class="itinerary__description">{{ trip.description }}</p>
            <span class="itinerary__link">View Itinerary <i class="uil uil-arrow-right"></i></span>
        </a>
        {% endfor %}
    </div>
</section>
