<!--==================== PORTFOLIO ====================-->
<section class="portfolio section" id="portfolio">
    <h2 class="section__title">{{ site.data.content.portfolio.title }}</h2>
    <span class="section__subtitle">{{ site.data.content.portfolio.subtitle }}</span>

    <div class="container">
            {% for project in site.data.content.portfolio.projects %}
            <div class="portfolio__content">
                <img src="assets/img/{{ project.image }}" alt="" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">{{ project.title }}</h3>
                    <p class="portfolio__description">
                        {{ project.description }}
                    </p>
                    <a href="#{{ project.link }}" class="button button--flex button--small portfolio__button">
                        {{ project.button }}
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
    </div>
</section>