<!--==================== PORTFOLIO ====================-->
<section class="portfolio section" id="portfolio">
    <h2 class="section__title">{{ page.portfolio.title }}</h2>
    <span class="section__subtitle">{{ page.portfolio.subtitle }}</span>

    <div class="portfolio__container container swiper-container">
        <div class="swiper-wrapper">
            {% for project in page.portfolio.projects %}
            <!--======================== PORTFOLIO 1 =============-->
            <div class="portfolio__content grid swiper-slide">
                <img src="assets/img/{{ project.image }}" alt="" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">{{ project.title }}</h3>
                    <p class="portfolio__description">
                        {{ project.subtitle }}
                    </p>
                    <a href="#" class="button button--flex button--small portfolio__button">
                        {{ project.button }}
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--============ Add Arrows =============-->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>

        <!--============ Add Pagination =============-->
        <div class="swiper-pagination"></div>
    </div>
</section>