<section class="qualifications section" id="qualifications">
    <h2 class="section__title">{{ site.data.content.qualifications.title }}</h2>
    <div class="section__subtitle">{{ site.data.content.qualifications.subtitle }}</div>

    <div class="qualifications__container container">
        <div class="qualifications__tabs">
            {% for tab in site.data.content.qualifications.tabs %}
            <div class="qualifications__button button--flex {% if forloop.first == true %}qualifications__active{% endif %}" data-target="#{{ tab.title | downcase }}">
                <i class="uil uil-briefcase-alt qualifications__icon {{ tab.icon | default: uil-briefcase-alt }}"></i>
                {{ tab.title }}
            </div>
            {% endfor %}

        </div>

        <div class="qualifications__sections">
            {% for tab in site.data.content.qualifications.tabs %}
            <div class="qualifications__content {% if forloop.first == true %}qualifications__active{% endif %}" data-content id="{{ tab.title | downcase }}">
                {% for point in tab.points %}
                {% assign odd = forloop.index | modulo:2 %}
                    {% if odd == 1 %}
                        <div class="qualifications__data">
                            <div>
                                <h3 class="qualifications__title">{{ point.title }}</h3>
                                <span class="qualifications__subtitle">{{ point.subtitle }}</span>
                                <div class="qualifications__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    {{ point.dates }}
                                </div>
                            </div>

                            <div>
                                <span class="qualifications__rounder"></span>
                                <span class="qualifications__line"></span>
                            </div>
                        </div>
                        
                        {% else %}
                        <div class="qualifications__data">
                            <div></div>
                            <div>
                                <span class="qualifications__rounder"></span>
                                <span class="qualifications__line"></span>
                            </div>
                            
                            <div>
                                <h3 class="qualifications__title">{{ point.title }}</h3>
                                <span class="qualifications__subtitle">{{ point.subtitle }}</span>
                                <div class="qualifications__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    {{ point.dates }}
                                </div>
                            </div>
                            
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
                    
        </div>
    </div>
</section>