<section class="services section" id="services">
    <h2 class="section__title">{{ page.services.title }}</h2>
    <span class="section__subtitle">{{ page.services.subtitle}}</span>

    <div class="services__container container grid">
        {% for post in site.posts limit: 3 %}
        <!--===================== SERVICES 1 ====================-->
        <div class="services__content">
            <div>
                <i class="uil {{ block.icon }} services__icon"></i>
                <h3 class="services__title">{{ post.title }}</h3>
                {%- assign date_format =  "%b %-d, %Y" -%}
                <p><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ post.date | date: date_format }}
                </time></p>

                <a href="{{ post.url }}" class="button button-flex button--link">Read &rarr;</a>

                {% comment %}
                <div class="services__modal">
                    <div class="services__modal-content">
                        <h4 class="services__modal-title">Backend <br> Developer</h4>
                        <i class="uil uil-times services__modal-close"></i>

                        <ul class="services__modal-services grid">
                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>I design Web Architecture.</p>
                            </li>

                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>I create structural backbone of the platform.</p>
                            </li>

                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>I maintain version control tools.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>