<section class="skills section", id="skills">
    <h2 class="section__title">{{ site.data.content.skills-list.title }}</h2>
    <span class="section__subtitle">{{ site.data.content.skills-list.subtitle }}</span>
    <div class="skills_list__container container grid">
      <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
      <div class="skills__content">
        {% for topic in site.data.content.skills-list.topics %}
        <div class="skills_list__content">
          <h1 class="skills__title">{{ topic[0] }}</h1>
          <ul>
            {% for item in topic[1] %}
            <li class="skillz__category__item">{{ item }}</li>
            {% endfor %}
          </ul>
          <br>
        </div>
       {% endfor %}
      </div>
    </div>
  </section>