<section class="skills section" id="skills">
    <h2 class="section__title">{{ site.data.content.skills.title }}</h2>
    <span class="section__subtitle">{{ site.data.content.skills.subtitle }}</span>

    <div class="skills__container container grid">
        <div>
            <!--====================== SKILLS 1 =============================-->
            <div class="skills__content skills__open">
                <div class="skills__header">
                    <i class="uil uil-brackets-curly skills__icon"></i>

                    <div>
                        <h1 class="skills__title">Backend Development</h1>
                        <span class="skills__subtitle">More than 2 years</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Laravel</h3>
                            <div class="skills__number">80%</div>
                        </div>
                        <div class="skills__bar">
                            <div class="skills__percentage skills__laravel"></div>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">PHP</h3>
                            <div class="skills__number">80%</div>
                        </div>
                        <div class="skills__bar">
                            <div class="skills__percentage skills__php"></div>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Django</h3>
                            <div class="skills__number">60%</div>
                        </div>
                        <div class="skills__bar">
                            <div class="skills__percentage skills__django"></div>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Typescript</h3>
                            <div class="skills__number">70%</div>
                        </div>
                        <div class="skills__bar">
                            <div class="skills__percentage skills__typescript"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--====================== SKILLS 2 =============================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-brackets-curly skills__icon"></i>

                    <div>
                        <h1 class="skills__title">Frontend Development</h1>
                        <span class="skills__subtitle">More than 1 year</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">React.js</h3>
                            <div class="skills__number">70%</div>
                        </div>
                        <div class="skills__bar">
                            <div class="skills__percentage skills__react"></div>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Material UI</h3>
                            <div class="skills__number">60%</div>
                        </div>
                        <div class="skills__bar">
                            <div class="skills__percentage skills__material"></div>
                        </div>
                    </div>
                    
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Javascript</h3>
                            <div class="skills__number">80%</div>
                        </div>
                        <div class="skills__bar">
                            <div class="skills__percentage skills__javascript"></div>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Formik</h3>
                            <div class="skills__number">60%</div>
                        </div>
                        <div class="skills__bar">
                            <div class="skills__percentage skills__formik"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <!--====================== SKILLS 3 =============================-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-brackets-curly skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Database Design</h1>
                            <span class="skills__subtitle">More than 2 years</span>
                        </div>

                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">MySQL</h3>
                                <div class="skills__number">80%</div>
                            </div>
                            <div class="skills__bar">
                                <div class="skills__percentage skills__mysql"></div>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Graphql</h3>
                                <div class="skills__number">70%</div>
                            </div>
                            <div class="skills__bar">
                                <div class="skills__percentage skills__graphql"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>